.sistema-component {
    display: flex;
    background-color: var(--text-light);
}

.sistema-component > img{
    width: 20%;
    object-fit: cover;

    
}

.sistema-component .sistema-aba-main {
    padding: 5rem 10rem;
    color: var(--text-light);
}

.sistema-component .sistema-aba-main>p{
    font-size: 14px;
    line-height: 22px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    
}

.sistema-component .sistema-aba-main h1 {
    margin-bottom: 6px;
    font-size: 35px;
    font-family: system-ui;
    text-align: center;
    line-height: 60px;
    font-weight: 400;
}
.sistema-component .sistema-aba-main>h3 {
    font-size: 25px;
    font-family: system-ui;
    line-height: 60px;
    font-weight: 400;
    margin-top: 10px;
}
.sistema-component .sistema-aba-main>ul {
    display: flex;
    gap: 1.5rem;
    margin-left: 15px;
}
.sistema-component .sistema-aba-main>ul li {
    list-style: decimal;
    margin-bottom: 15px;
}


.sistema-component .sistema-aba-main>ul li img {
    width: 6rem;
    height: 6rem;
    vertical-align: top;
    margin-bottom: 1rem;

}

@media (max-width: 915px) {

    .sistema-component .sistema-aba-main>ul {
        flex-wrap: wrap;
    }

}

@media (max-width: 700px) {

    .sistema-component .sistema-aba-main{
        padding: 5rem 7rem;
    }
}
@media (max-width: 570px) {
    .sistema-component .sistema-aba-main>h3 {
        line-height: 40px;
        margin-bottom: 30px;
    }
}