.pagina-cadastro{
    padding: 5rem 0 5rem 9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 3rem;
    background-image: url(/vida-nos-pontos-mais-profundos-dos-oceanos.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;    
}
.pagina-cadastro > div:first-child{
    width: 45%;
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pagina-cadastro > div > img{
    max-width: 12rem;
}
.pagina-cadastro > div:first-child > div p{
    margin-top: 3rem;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 25px #000000;
}
.pagina-cadastro > div:first-child .bg-b{
    background-image: radial-gradient(ellipse, #000000b3, #00000005, #00000000);
}

.pagina-cadastro > div:first-child > div ul li {
    list-style: disc;
    margin-left: 17px;
    line-height: 26px;
    text-shadow: 1px 1px 10px #000000;
}
.pagina-cadastro > div:first-child > div > .botoes{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.pagina-cadastro > div:first-child  > h2{
    font-weight: bold;
    color: var(--text-light);
    font-size: 35px;
    line-height: 55px;
    max-width: 50rem;
    margin-bottom: 3rem;
    text-align: center;
}

.pagina-cadastro  > :first-child div > ul #parceiros, 
.pagina-cadastro  > :first-child div > ul #nossa-campanha,
.pagina-cadastro .form .input-field > input,
.pagina-cadastro .form .submit-button
{
    box-shadow: 0 0 0 1px var(--text-light);
    border-radius: 5px;
    padding: 10px 20px;
    border-style: none;
    list-style: none;
    margin: 0;
}

.pagina-cadastro .form #caixa-comentarios > input{
    height: 10rem;
}

.pagina-cadastro  > :first-child > div #parceiros a{
    color: var(--text-light);
    font-weight: 500;
}

.pagina-cadastro  > :first-child > div #nossa-campanha a{
    font-weight: 500;

    color: var(--action-color);
}

.pagina-cadastro  > :first-child > div #nossa-campanha{
    background-color: var(--text-light);
    text-shadow: none;
}

.pagina-cadastro .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: center;
}
.pagina-cadastro .form h3{
    color: var(--text-light);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 30px #27579d;
}

.pagina-cadastro .form .input-field > input{
    min-width: 14rem;
    font-family: inherit;
    width: 60%;

}

.pagina-cadastro .form .submit-button{
    border-style: none;
    background-color: transparent;
    color: var(--text-light);
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    width: 30%;
    min-width: 8rem;
    align-self: center;
}

@media (max-width: 1200px) {
    .pagina-cadastro > div:first-child , .pagina-cadastro .form {
        width: 70%;
    }
    .pagina-cadastro{
        gap: 7rem;
        justify-content: center;
        padding: 7rem 0;
    }
    .pagina-cadastro > div:first-child > div > .botoes {
        justify-content: center;
    }
}
@media (max-width: 900px) {
    .pagina-cadastro .form{
        width: 80%;
    }
}

@media (max-width: 490px) {
    .pagina-cadastro .form{
        width: 90%;
    }

    .pagina-cadastro > div:first-child > div p {
        text-align: center;
    }
}