.proposito-page {
    background-color: var(--text-light);


}

.proposito-page>div {
    padding: 5rem 12rem;
}

.proposito-page h1 {
    margin-bottom: 2rem;
    font-size: 35px;
    font-family: system-ui;
    text-align: center;
    line-height: 60px;
    font-weight: 400;
}

.proposito-page p {
    margin-bottom: 2rem;
}


@media (max-width: 800px) {

    .proposito-page>div {
        padding: 5rem 7rem;
    }
}

@media (max-width: 485px) {

    .proposito-page>div {
        padding: 5rem 5rem;
    }

    .proposito-page h1 {
        line-height: 50px;
    }

    .proposito-page p {

        text-align: center;
    }
}