.proposal {
    display: flex;
    flex-direction: row;
}

.proposal >div {

        position: relative;
        flex: 1; /* As imagens ocuparão a mesma largura */

}
.proposal img{
    object-fit: cover;
    height: 60rem;
    display: block; /* Torna a imagem um bloco para permitir sobreposição de texto */
    width: 100%;
}

.proposal > div>div{
    position: absolute;
    bottom: 10px; /* Distância do texto até a parte inferior */
    left: 10px; /* Distância do texto até a esquerda */
    color: white; /* Cor do texto */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    padding: 10px;
}
@media screen and (max-width: 1560px) {
    .proposal .social-media{
        width: 70%;
        grid-gap: 3.5rem;
    }
}
