.proposal {
    width: 100%;
    position: relative;

}


.image-proposal {
    display: flex;
    flex-direction: row;
}

.image-proposal img {
    height: 40rem;
    width: 50%;
    object-fit: cover;
}

.text-control {
    position: absolute;
    color: aliceblue;
    display: flex;
    width: 100%;
    justify-content: space-around;
    bottom: 50px;
}
.text-control >div{
    background-color: #0000008c;
    padding: 1rem;
}
.text-control > div h2{
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
}


@media screen and (max-width: 1560px) {
    .proposal .social-media {
        width: 70%;
        grid-gap: 3.5rem;
    }
}